<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
   "http://www.springframework.org/dtd/spring-beans.dtd">
   
   <beans>
    <bean id="usersBO" class="net.abbht.lamo.bo.users.UsersBOImplRef" singleton="false" >
        <property name="addressFacade"> <ref bean="addressFacadeRef" /></property>
        <property name="authorityFacade"> <ref bean="authorityFacadeRef" ></ref></property>
        <property name="phoneFacade"> <ref bean="phoneFacadeRef" ></ref></property>
        <property name="userFacade"> <ref bean="userFacadeRef" ></ref></property>
        <property name="userGroupFacade"> <ref bean="userGroupFacadeRef" ></ref></property>
    </bean>
    
    <bean id="loanBO" class="net.abbht.lamo.bo.loans.LoanBOImpl" singleton="false" >
        <property name="loanFacade"> <ref bean="loanFacadeRef" /></property>
        <property name="renewFacade"> <ref bean="renewFacadeRef" ></ref></property>
        <property name="itemGroupFacade"> <ref bean="itemGroupFacadeRef" ></ref></property>


    </bean>
    
    
    <bean id="itemsBO" class="net.abbht.lamo.bo.items.ItemsBOImpl" singleton="false" >
        <property name="itemFacade"> <ref bean="itemFacadeRef" /></property>
        <property name="itemGroupFacade"> <ref bean="itemGroupFacadeRef" ></ref></property>
        <property name="authorFacade"> <ref bean="authorFacadeRef" ></ref></property>        
    </bean>
    
    <bean id="addressFacadeRef" class="net.abbht.lamo.facades.users.AddressFacade" />
    <bean id="authorityFacadeRef" class="net.abbht.lamo.facades.users.AuthorityFacade" />
    <bean id="phoneFacadeRef" class="net.abbht.lamo.facades.users.PhoneFacade" />
    <bean id="userFacadeRef" class="net.abbht.lamo.facades.users.UserFacade" />
    <bean id="userGroupFacadeRef" class="net.abbht.lamo.facades.users.UserGroupFacade" />
    <bean id="loanFacadeRef" class="net.abbht.lamo.facades.loans.LoanFacade" />
    <bean id="renewFacadeRef" class="net.abbht.lamo.facades.loans.RenewFacade" />
    <bean id="itemFacadeRef" class="net.abbht.lamo.facades.items.ItemFacade" />
    <bean id="itemGroupFacadeRef" class="net.abbht.lamo.facades.items.ItemGroupFacade" />
    <bean id="authorFacadeRef" class="net.abbht.lamo.facades.items.AuthorFacade" />
    
   </beans>

<!--
    Document   : Hello.xml
    Created on : October 14, 2006, 1:10 AM
    Author     : home
    Description:
        Purpose of the document follows.
-->


