<?xml version="1.0" encoding="UTF-8"?>
<beans   xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.directwebremoting.org/schema/spring-dwr
         http://www.directwebremoting.org/schema/spring-dwr/spring-dwr-3.0.xsd">
   
    <bean id="altCsoAjax" class="com.cisco.altcso.service.AltCsoAjax" >
        <dwr:remote javascript="AltCsoAjax">
            <dwr:include method="getActiveTranslationStatuses" />
            <dwr:include method="getTranslationStatusesBetween" />
            <dwr:include method="getCustomerByName" />
            <dwr:include method="saveCustomer" />
            <dwr:include method="deleteCustomer" />
        </dwr:remote>
    </bean>
    
    <dwr:configuration>
        <dwr:convert type="hibernate3" class="com.cisco.altcso.domain.*" />
        <dwr:convert type="collection"  class="java.util.Collection"  />
    </dwr:configuration>
</beans>